<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <h3>Welcome to Fitness Center</h3>
        <p>A fitness and wellness coordinator is someone who works for a gym or health facility and coordinates or plans all of 
            their fitness and wellness activities - such as exercise classes, 
            health seminars, and special events. The coordinator may also be responsible for performing a variety of administrative tasks for the facility.
             They help people stay fit and healthy, and help a gym or other fitness facility stay organized and in accordance with any national,
              state, or local laws and regulations.</p>
        
        <button type="button" class="btn btn-primary btn-block">Apply for Appointment</button>
    </div>
</body>
</html>
